*{
    padding:0;
    margin:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#home{
    display: flex;
    flex-wrap: wrap;
    width:100%;
}
a{
    text-decoration: none;
    color:inherit
}
header, nav, footer{
    min-height:90px;
    width: 100%;
    background-color: #81afc6;
    display: flex;
    align-items:center;
    color:white;
}
nav{
    justify-content: space-between;
}
footer{
    justify-content: center;
}
#icon img{
    max-height:70px;
    max-width: 70px;
}
nav .sec-link{
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right:10px;
}
.header-link{
    margin:5px;
    padding:8px;
}
.header-link:hover{
    background-color: #487f9b;
    border-radius: 20px;
}
section{
    height:100%;
    width: 100%;
}
section .content{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    margin-bottom: 20px;
}
.cam-div{
    color:black;
    margin: 20px;
    flex-direction: column;
    max-height: 200px;
    flex: 1 1 200px;
    max-width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cam-div h1{
    font-weight: bold;
    font-size: 30px;/* 
    color:#333333; */
    margin-bottom: 30px;
}
.cam-div p{
    font-size: 90px;
    font-weight:bolder;
}
.cam-div:hover{
    background-color: #668da0;
    color:white;
    border-radius: 50px;
    
}

#his{
    display: flex;
    flex-direction:row;
}
#month{
    color: #487f9b;
    text-decoration: underline;
}
#his-1 h2{
    font-size: 100px;
    font-weight:bolder;
    margin:20px;
}
#his-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#his-2{
    margin-top:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#status{
    font-size: 20px;
    text-decoration: double;
    color: #333;
}

@media screen and (max-width: 900px){
    .cam-div{
        max-width: 45%;
    }
    .cam-div p{
        font-size: 70px;
    }
    #his-cont h2{
        font-size: 70px;
    }
}
@media screen and (max-width: 600px){

    nav{
        flex-direction: column;
        height: auto;
        padding: 10px 0;
        /* margin-bottom: 70px; */
    }
    .sec-link{
        margin-top: 10px;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    .cam-div{
        padding:0px;
        max-width: 90%;
        width: 60%;
        margin: 10px 0;
    }
    #his{
        flex-direction: column;
    }
    #his-1 h2{
        font-size: 50px;
    }
    footer{
        text-align: center;
        padding: 10px;
    }
    
}